.Footer {
    background-color: #2C3E50;
    display: flex;
    flex-direction: column;
    color: white;
}

.Footer.above {
    margin: 0 auto;
    padding: 50px 0;
    flex-direction: row;
    justify-content: space-between;
}

.Footer.above.logo {
    flex-direction: row;
}

.Footer.above.social {
    flex-direction: row;
}

.Footer.above.menu {
    flex-direction: column;
}

@media (max-width: 990px) {
    .Footer.above {
        flex-direction: column;
    }
}

@media (max-width: 7000px) {
    .Footer.above {
        max-width: 90%;
    }
} 